[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-static = "*"
dj-database-url = "*"
gunicorn = "*"
python-decouple = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-heroku = "*"
firebase-admin = "*"
django-cors-headers = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3"
